*{
  text-align: center;
}

p{
  font-size: 20px;
  color: #000;
}

span{
  color: rgb(21, 0, 0);
  font-size: 20px;  
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: rgb(21, 0, 0);
  text-decoration-style: solid;
}