
<div>
  <p>
    Primer @input de Padre  a: <span>{{ MensajeUno }}</span>
  </p>
  <p>
    Segundo @input de Padre a: <span>{{ mensajeDos }}</span>
  </p>
  <p>
    Tercer @input de Padre a: <span>{{ mensajeTres }}</span>
  </p>
  <p>
    Cuarto @input de Padre a: <span>{{ mensajeCuatro }}</span>
  </p>
  <p>
  Quinto @input de Padre a: <span>{{ mensajeCinco }}</span>
  </p>
</div>