<app-hijo
(EventoMensaje)="recibirMensaje($event)"
(EventoMensaje2)="recibirSegundo($event)"
(EventoMensaje3)="recibirTercer($event)"
(EventoMensaje4)="recibirCuarto($event)"
(EventoMensaje5)="recibirQuinto($event)"
>
</app-hijo>
<div>
  <h4>
    1ra @Output de  Hijo a: {{ mensajePadre }}
  </h4>
  <h4>
    2do @Output de  Hijo a: {{ SecondMessage }}
  </h4>
  <h4>
    3er @Output de  Hijo a: {{ thirdMessage }}
  </h4>
  <h4>
    4to @Output de  Hijo a: {{ fourthMessage }}
  </h4>
  <h4>
    5to @Output de  Hijo a: {{ fifthMessage }}
  </h4>
</div>